@media screen and (min-width: 768px) {
    body {
        flex-direction: row !important;
    }

    .main__header__btn {
        display: none;
    }

    .main__header__nav {
        display: flex !important;
    }

    .card__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}