.card__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 25px;
    padding: 25px 0;
}

.max_2_cards {
    max-width: 1690px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: var(--background-100);
    border: 2px solid var(--background-200);
    transition: background-color 0.1s ease-in-out;
    position: relative;
}

.card:hover:not(.no__hover) {
    background-color: var(--background-200);
}


.card::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
    box-shadow: 0 5px 20px var(--background-100);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.card:hover::after {
    opacity: 1;
}

.card__title {
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
}

.card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 5px;
    padding: 30px 0;
}

.task__hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: hsla(var(--background-100), 0.3);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .task__hover {
    opacity: 1;
    z-index: 20;
    pointer-events: auto;
}

.card__footer {
    display: flex;
    gap: 15px;
}

@media screen and (min-width: 768px) {
    .card-title {
        font-size: 24px;
    }

    .card__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .max_2_cards {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1280px) {
    .card__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(auto, 400px));
    }

    .max_2_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
