form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

.form-control {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input, select {
    height: 50px;
    padding: 10px;
    background-color: var(--background-100);
    border-radius: 10px;
    border: 2px solid var(--background-200);
    color: var(--text-800);
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

label {
    padding-bottom: 5px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

input:focus, select:focus {
    outline: 4px solid var(--primary-500);
}

input:invalid {
    border: 2px solid var(--danger-500);
}

#errors {
    background-color: var(--danger-500);
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
}