@import "navigation.css";
@import "font.css";
@import "footer.css";
@import "card.css";

:root {
    --primary: #a4d6c7;
    --secondary: #ffffff;
    --background: #f6f6f6;
    --accent: #5db69c;
    --text: #000000;
    --grey: #eeeeee;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Poppins";
    display: flex;
    height: 100vh;
}

.main__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 25px;
}

h1 {
    padding-bottom: 25px;
}

.fontXXL {
    font-size: 40px;
}