@import "variables.css";
@import "navigation.css";
@import "font.css";
@import "footer.css";
@import "card.css";
@import "modal.css";
@import "button.css";

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main__container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 25px;
    position: relative;
}

.site__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.site__header__btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    border-radius: 10px;
}

.site__header__btn:hover {
    cursor: pointer;
    background-color: var(--grey);
}

h1 {
    padding-bottom: 25px;
}

.fontXXL {
    font-size: 40px;
}

@media screen and (min-width: 768px) {
    body {
        flex-direction: row !important;
    }

    .main__header__btn {
        display: none;
    }

    .main__header__nav {
        display: flex !important;
    }
}
