.modal__background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 199;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    z-index: 200;
    position: fixed;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    width: max-content;
    height: fit-content;
    background-color: var(--background-50);
    border-radius: 10px;
    padding: 25px;
    border: 2px solid var(--background-200);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
}

.modal__body {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .modal {
        min-width: 400px;
    }
}
