.main__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
    position: sticky;
    top: 0;
    background-color: var(--background-50);
    z-index: 100;
}

.main__header a {
    text-decoration: none;
    color: var(--text-800);
}

.main__header__top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.main__header__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.main__header__btn:hover {
    cursor: pointer;
}

.main__header__logo {
    font-size: 20px;
    font-weight: bold;
}

.main__header__nav {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100vw);
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--background-50);
}

.open {
    z-index: 99;
    transform: translateX(0);
     /*height: 100vh;*/
}

#closeIcon {
    display: none;
}

.main__header__nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.main__header__nav ul li {
    width: 100%;
    height: fit-content;
}

.main__header__nav__link {
    font-size: 24px;
    padding: 20px 25px;
    border-radius: 10px;
    width: 100%;
    display: flex;
}

.main__header__nav__link--active {
    background-color: var(--primary-500);
    box-shadow: 0 5px 30px var(--primary-400);
}

@media screen and (min-width: 768px) {
    .main__header__btn {
        display: none;
    }

    .main__header {
        position: unset;
        height: 100vh;
    }

    .main__header__nav {
        margin-top: 55px;
        width: 200px;
        position: unset;
        transform: translateX(0);
        align-items: flex-start;
        justify-content: flex-start;
    }


    .main__header__nav__link {
        font-size: 18px;
        padding: 10px 15px;
        border-radius: 5px;
        width: 100%;
        display: flex;
    }
}
