.main__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
    background: var(--grey);
    height: 100%;
}

.main__header a {
    text-decoration: none;
    color: black;
}

.main__header__logo {
    font-size: 20px;
    font-weight: bold;
}

.main__header__nav {
    margin-top: 50px;
}

.main__header__nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.main__header__nav ul li {
    width: 100%;
    height: fit-content;
}

.main__header__nav__link {
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    display: flex;
}

.main__header__nav__link--active {
   background-color: var(--secondary);
}