.schedule {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1690px;
    gap: 25px;
}

.schedule__day {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
}

.schedule__day:before {
    width: calc(100% - 12.5px);
    position: absolute;
    top: 0;
    content: '';
    border: 1px solid var(--background-100);
}

.schedule__day__tasks {
    padding: 10px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (min-width: 640px) {
    .schedule__day__tasks {
        flex-direction: row;
    }
}